<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href='/home'>Home</a>
        <a href='/logout'>Log out</a>
        <table>
              <thead>
                <tr>
                    <!-- <h3><th> is possibly not allowed -->
                    <h3><th>{{ user.destination }}</th></h3>
                </tr>
              </thead>
              <tbody>
                    <td>Planned By: {{ user.name }}</td>
                    <td>Description: {{ user.plan }}</td>
                    <td>Travel Date From: {{ user.start_date }}</td>
                    <td>Travel Date To: {{ user.end_date }}</td>
              </tbody>
              {% endfor %}
          </table>
          <table>
              {% for user in users %}
               <thead>
                 <tr>
                   <th>Other User's Joining This Trip</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>
                     {{user.name}}
                   </td>
           {% endfor %}
        </table>
    </body>
</html>
